:root {
  --main-back: #efe6d3;
  --main-text: #d0d0d0;
  --main-line: #a0a0a0;
  --blockspc: 200px;
}

/* {
  font-family: Arial, Helvetica, sans-serif;
}*/

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

#about,
#contacts,
#myskills,
#portfolio,
#education,
#english {
  position: relative;
  top: -200px;
}

/* HEADER */
.header {
  position: fixed;
  min-width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, 50%);
  z-index: 50;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.header__h1 {
  font-size: 2em;
  background: url("text_b.jpg");
  background-clip: text;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__nav {
  list-style: none;
  position: sticky;
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin-left: 200px;
}
.menu__item {
  display: inline-block;
  white-space: nowrap;
  font-size: 20px;
}
.menu__item:before,
.menu__item:last-child:after {
  color: rgb(255, 255, 255, 80%);
  content: "";
  margin: 0 10px;
}
.menu__link {
  color: rgb(255, 255, 255, 80%);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}
.menu__link:hover {
  color: #ffffff;
  letter-spacing: 1px;
}

/* Main */

.main {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  align-items: center;
  background-color: var(--main-back);
}

/* About */

section.about {
  display: flex;
  width: 100%;
  height: 930px;
  margin-bottom: var(--blockspc);
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.hero__banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("hero.jpg");
  background-repeat: no-repeat;
  background-position: 50% top;
}
.hero__left {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  position: relative;
  top: 100px;
  left: calc(50% - 720px);
}
.hero__h2 {
  margin: 0px;
  font-size: 4em;
  color: var(--main-back);
}
.hero__text {
  font-size: 1.3em;
  color: var(--main-back);
  word-wrap: normal;
}

/* Skills */

section.skills {
  border: 0px;
  display: flex;
  width: 100%;
  height: 600px;
  justify-content: center;
  margin-bottom: var(--blockspc);
  background-color: black;
}
.block__tittle {
  width: 50%;
  background-image: url("skills.jpg");
  background-position: right top;
  background-repeat: no-repeat;
}
.block__text {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 50%;
  height: calc(100% + 4px);
  margin-top: -2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
  font-size: 2em;
  background-color: var(--main-back);
  background-image: url("skills_b.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-position-y: 2px;
}
.block__text-h2 {
  margin: 0px;
  padding-left: 150px;
  font-size: 2em;
}
.block__text-ul {
  padding-left: 150px;
  list-style-type: none;
}

/* Code Sample */

section.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  margin-bottom: var(--blockspc);
  background-image: url("matrix.jpg");
}
.portfolio__h2 {
  margin: 0px;
  padding-top: 10px;
  font-size: 4em;
  color: var(--main-back);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.portfolio__code {
  width: 1400px;
  height: 400px;
  color: antiquewhite;
  font-size: 1.9em;
  opacity: 80%;
}

/* Education */
section.education {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 655px;
  margin-bottom: var(--blockspc);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.education__imgbckg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1440px;
  height: 655px;
  background-image: url("education.jpg");
  background-size: cover;
}
.education__text {
  margin-left: 100px;
  width: 550px;
}
.education h2 {
  margin: 0px;
  font-size: 4em;
}
.education p {
  font-size: 1.3em;
  color: black;
  word-wrap: normal;
}

/* English */

section.english {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 675px;
  margin-bottom: var(--blockspc);
}
.english__imgbckg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 155px;
  width: 100%;
  height: 520px;
  background-image: url("english-b.jpg");
}
.english__container h2 {
  margin: 0px;
  font-size: 4em;
}
.english__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  height: 525px;
  left: calc(50% + 250px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.english__container p {
  font-size: 1.3em;
  color: black;
  word-wrap: normal;
}
.block__cert {
  position: absolute;
  width: 960px;
  height: 675px;
  left: calc(50% - 960px);
  background-image: url("english-1.jpg");
  background-size: cover;
}
.english__imgcenter {
  position: absolute;
  left: calc(50% - 310px);
  margin-top: 80px;
  width: 600px;
  height: 600px;
  background-image: url("english-2.png");
  background-size: cover;
  z-index: 2;
}

/* Contacts */

section.contacts {
  width: 100%;
  height: 600px;
  margin-bottom: var(--blockspc);
}
.contacts__imgbckg {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  height: 520px;
  background-image: url("contacts_back.jpg");
  background-size: cover;
}
.contacts__content-container {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 520px;
  align-content: center;
  left: calc(50% - 720px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.contacts__left {
  align-self: center;
  width: 50%;
}
.contacts__h2 {
  margin: 0px;
  font-size: 4em;
  color: var(--main-back);
}
.contacts__content {
  font-size: 1.3em;
  color: var(--main-back);
  word-wrap: normal;
}
.contacts__imgright {
  margin-top: -80px;
  position: absolute;
  left: 50%;
  width: 960px;
  height: 600px;
  background-image: url("contacts.jpg");
  background-size: cover;
}
.contacts__imgcenter {
  position: absolute;
  left: calc(50% - 300px);
  margin-top: 100px;
  width: 600px;
  height: 500px;
  background-image: url("telephone.png");
  background-size: cover;
  z-index: 2;
}

/* FOOTER */

footer {
  background-image: url("footer_b.jpg");
  background-size: cover;
  max-width: 100%;
  height: 250px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
}
.footer h3 {
  margin-top: 10px;
}
.footer__inlay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  color: var(--main-back);
  padding: 0;
}
.footer__right {
  margin: 0px;
  text-align: right;
}
.footer__link {
  color: #c5b079;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s;
  width: 300px;
  margin-top: 20px;
}
.footer__image {
  height: 80px;
}
.footer__link:hover {
  color: var(--main-back);
  letter-spacing: 1px;
}
.footer__link-c {
  color: var(--main-back);
}
.footer__link-c:hover {
  color: #c5b079;
}
.footer__menu {
  display: flex;
  width: 300px;
  flex-direction: column;
  list-style: none;
  list-style-type: none;
  padding: 0px;
}
.fmenu__item {
  display: flex;
  font-size: 18px;
  margin-left: auto;
  margin-right: 0px;
}
.fmenu__item:before,
.fmenu__item:last-child:after {
  content: "";
}
.fmenu__link {
  color: #c5b079;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
}
.fmenu__link:hover {
  color: var(--main-back);
  letter-spacing: 1px;
}
.copyright {
  color: rgb(255, 255, 255, 80%);
}
