/* ---------- MAIN ---------- */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --font-main: 'Cormorant Upright', serif;
  --color-main: #efe6d3;
  --color-line: #a0a0a0;
  --color-black: #000;
  --color-white: #fff;
  --color-goldbg: linear-gradient(
    90deg,
    rgba(169, 127, 0, 1) 0%,
    rgba(255, 191, 0, 1) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-main);
  overflow-x: hidden;
}

body.active {
  overflow-y: hidden;
}

h1 {
  font-family: var(--font-main);
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  background: var(--color-goldbg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.3s ease;
}

h2 {
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: uppercase;
}

p {
  font-family: var(--font-main);
  font-size: 1.5rem;
}

.section__padding {
  padding-top: 10%;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--color-main);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(142, 120, 91);
}

.cv__main {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .section__padding {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 3rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 376px) {
  h2 {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  p {
    font-size: 0.8rem;
  }
}

/* ---------- NAVIGATION ---------- */

.cv__navbar {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  background-color: rgb(0, 0, 0, 50%);
  padding: 0 5%;
  z-index: 1;
  transition: 0.5s ease;
}

.cv__navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
}

.cv__navbar-menu {
  display: flex;
  font-family: var(--font-main);
  font-size: 1.5rem;
  list-style-type: none;
}

.cv__navbar-menu a {
  color: var(--color-main);
  text-decoration: none;
  margin-right: 1rem;
  white-space: nowrap;
  transition: 0.5s ease;
}

.cv__navbar-menu a:hover {
  color: var(--color-white);
}

.cv__navbar-menu_icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 28px;
  height: 30px;
}

.cv__navbar-menu_icon span {
  position: absolute;
  width: 22px;
  height: 2px;
  right: 0;
  background: var(--color-main);
  transition: 0.5s ease;
}

.cv__navbar-menu_icon:before,
.cv__navbar-menu_icon:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--color-main);
  transition: 0.5s ease;
}

.cv__navbar-menu_icon:before {
  top: 2px;
}

.cv__navbar-menu_icon:after {
  bottom: 2px;
}

.cv__navbar-menu_icon.active span {
  transform: scale(0);
}

.cv__navbar-menu_icon.active:before {
  width: 120%;
  top: 14px;
  transform: rotate(45deg);
}

.cv__navbar-menu_icon.active:after {
  width: 120%;
  bottom: 14px;
  transform: rotate(-45deg);
}

.cv__navbar-burger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .cv__navbar-burger {
    display: block;
  }

  .cv__navbar-menu {
    position: absolute;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    opacity: 1;
    transition: 0.8s ease;
  }

  .cv__navbar-menu.close {
    opacity: 0;
    top: -100vh;
  }

  .cv__navbar.expand {
    height: 100%;
    background-color: rgb(0, 0, 0, 80%);
    flex-direction: column;
  }

  .cv__navbar.expand h1 {
    opacity: 0.3;
  }
}

@media screen and (max-width: 768px) {
  .cv__navbar h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .cv__navbar h1 {
    font-size: 1.8rem;
  }

  .cv__navbar-menu.mobile {
    font-size: 3rem;
  }
}

@media screen and (max-width: 376px) {
  .cv__navbar h1 {
    font-size: 1.3rem;
  }
}

/* ---------- HERO ---------- */

.cv__hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./assets/jpg/hero.jpg');
  background-repeat: no-repeat;
  background-position: 50% top;
  background-size: cover;
}

.cv__hero-info {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8rem 0 0 10rem;
}

.cv__hero-info h2 {
  color: var(--color-main);
}

.cv__hero-info p {
  color: var(--color-main);
}

.cv__hero-info br {
  padding: 4rem;
}

@media screen and (max-width: 1024px) {
  .cv__hero {
    background-position: 80% top;
    justify-content: center;
    align-items: flex-end;
  }

  .cv__hero-info p {
    text-align: center;
  }

  .cv__hero-info {
    align-items: center;
    margin: 0 5% 8% 5%;
  }
}

@media screen and (max-width: 768px) {
  .cv__hero {
    background-position: 78% top;
  }
}

@media screen and (max-width: 480px) {
  .cv__hero {
    background-position: 71% top;
  }
}

@media screen and (max-width: 376px) {
  .cv__hero {
    background-position: 73% top;
  }
}

/* ---------- SKILLS ---------- */

.cv__skills {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.cv__skills-background {
  position: absolute;
  width: 100%;
  height: 29vw;
  margin-top: 100px;
  background-image: url('./assets/jpg/skills-background.jpg');
  background-size: contain;
  z-index: -1;
}

.cv__skills-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cv__skills-content img {
  width: 50%;
  padding-bottom: 3%;
}

.cv__skills-content_text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  padding-top: 3%;
  font-family: var(--font-main);
}

.cv__skills-content_text-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cv__skills-content_text ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-weight: 400;
}

.cv__skills-content_text li {
  margin-left: 35px;
}

@media screen and (max-width: 1024px) {
  .cv__skills {
    height: 100vh;
  }

  .cv__skills-background {
    background-size: cover;
    height: 100%;
  }

  .cv__skills-content {
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .cv__skills-content img {
    width: 100%;
  }

  .cv__skills-background {
    height: 110%;
    margin: 0;
  }

  .cv__skills-content_text {
    justify-content: center;
  }

  .cv__skills-content_text,
  .cv__skills-content_text ul {
    width: 100%;
  }

  .cv__skills-content_text-container {
    padding: 0 5% 0 5%;
  }
}

@media screen and (max-width: 376px) {
  .cv__skills-content_text ul {
    font-size: 1.2rem;
  }

  .cv__skills-content_text li {
    margin-left: 20px;
  }
}
